@font-face {
  font-family: ClashDisplay;
  src: url("./fonts/ClashDisplay.woff2") format("woff2");
}
@font-face {
  font-family: Cousine;
  src: url("./fonts/Cousine.woff2") format("woff2");
}
@font-face {
  font-family: Material Icons;
  src: url("./fonts/Material.woff2") format("woff2");
}
@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto.woff2") format("woff2");
}



@media (min-width: 600px) {
  .navbar{
    padding: 2rem 2rem 0;
  }
  .header-img {
    left: 20px;
  }
  .header{
    height: 4.5rem;
    font-size: 1rem !important;
  }
  .title{
    font-size: 4rem;
    line-height: 70px;
  }
  .welcome-screen{
    padding: 5rem 2rem;
  }
  .description{
    font-size: 1.125rem;
    line-height: 27px;
  }
  .btn{
    height: 2.75rem;
    font-size: 16px;
    line-height: 2.65rem;
  }
  .right-align{
    right: 16px;
  }
}
@media (max-width: 600px) {
  .navbar{
    padding: 3.4vh 2rem 0;
  }
  .header{
    height: 7.4vh;
    padding: 0.1rem;
  }
  .header-img {
    width: 23px;
    height: 23px;
    left: 18px;
  }
  .buttons{
    height: 2rem;
  }
  .welcome-screen{
    padding: 4rem 1.5rem;
  }
  .title{
    font-size: 5vh;
    line-height: 40px;
  }
  .description{
    font-size: 2vh;
    line-height: 22px;
  }
  .right-align{
    right: 10px;
  }
  .header .btn{
    height: 35px !important;
  }
  .btn{
    height: 35px;
    font-size: 13px;
    line-height: 2.1rem;
  }
}


*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scrollbar-color: #dbc4ff #2F3136;
  scrollbar-width: thin;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #36393f;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dbc4ff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #dbc4ff;
}
html{
  width: 100% !important;
  height: 100% !important;
}
body{
  width: 100% !important;
  height: 100% !important;
  background: #161b22;
  box-sizing: border-box;
}
.home{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: radial-gradient(
      at 30% 74%,
      rgba(119, 119, 207, 0.1) 0,
      transparent 50%
    ),
  radial-gradient(at 80% 0, rgba(119, 119, 207, 0.08) 0, transparent 50%);
  background-color: #171b22;
  width: 100% !important;
  height: 100% !important;
}
.navbar{
  z-index: 999;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}
.header {
  max-width: 1136px;
  background-color: #161b22;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0 4px 40px #0c1016;
}
.header-img {
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}
.title {
  color: #f0f6fc;
  text-decoration: none;
  font-family: ClashDisplay;
  text-align: center;
}
.description{
  color: white;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  max-width: 700px;
}
.landing-page {
  width: 100%;
  text-align: center;
}
.welcome-screen{
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.buttons {
  margin-top: 5%;
  display: block;
  margin-top: 4vh;
}
.btn {
  color: #f0f6fc;
  background-color: #b180ff;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1px;
  border-color: #21262d;
  font-weight: 600;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  padding-left: 16px;
  padding-right: 10px;
}
#download{
  border: none;
  letter-spacing: 1px;
}
#issues{
  background-color: transparent;
  margin-left: 15px;
}
#issues:hover{
  background-color: #21262d;
}
#test{
  height: 38px;
  width: 55px;
  line-height: 37px;
}
a {
  text-decoration: none;
}
.material-icons{
  font-family: Material Icons;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;
}

.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.right-align{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
