::-webkit-scrollbar {
  width: 5px;
  background-color: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #dbc4ff;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #dbc4ff;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scrollbar-color: #dbc4ff #0d1117;
  scrollbar-width: thin;
  box-sizing: border-box;
}