@font-face {
  font-family: ClashDisplay;
  src: url("./fonts/ClashDisplay.woff2") format("woff2");
}

@font-face {
  font-family: Cousine;
  src: url("../fonts/Cousine.woff2") format("woff2");
}

@font-face {
  font-family: Lexend;
  src: url("../fonts/lexend.woff2") format("woff2");
}

@font-face {
  font-family: Material Icons;
  src: url("../fonts/Material.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/inder.woff2") format("woff2");
}

@media (min-width: 600px) {
  /*for Desktop*/
  .navbar {
    padding: 2rem 2rem 0;
  }

  .header {
    height: 4.5rem;
    font-size: 14px !important;
  }

  .header-img {
    left: 20px;
  }

  .header-links {
    margin-right: 24px;
  }

  .btn {
    height: 2.75rem;
    font-size: 16px;
    line-height: 42px;
    padding: 0 16px;
  }

  #wiki {
    height: 38px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    padding-inline: 12px;
  }

  .material-icons-outlined {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  /*for Mobile*/
  .navbar {
    padding: 3.4vh 2rem 0;
    padding: 1.8rem 1.8rem 0;
  }

  .header {
    height: 60px !important;
    font-size: 11px !important;
    line-height: 12px !important;
    grid-template-columns: 40px auto 0px 0px 65px 100px !important;
  }

  .header-img {
    width: 23px;
    height: 23px;
    left: 18px;
  }

  .hidenav {
    opacity: 0 !important;
    pointer-events: none;
  }

  .header-links {
    margin-right: 19px;
    font-size: 12px;
  }

  .btn {
    height: 35.75px !important;
    line-height: 33px !important;
    font-size: 13px !important;
    padding: 0 13px;
    font-weight: 600;
  }

  #wiki {
    height: 35px !important;
    font-size: 12px !important;
    line-height: 30px !important;
    padding: 1px !important;
    padding-inline: 10px !important;
  }

  .material-icons-outlined {
    font-size: 18px;
    line-height: 20px;
  }

  .sidenav {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #dbc4ff;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #dbc4ff;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  scrollbar-color: #dbc4ff #0d1117;
  scrollbar-width: thin;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #161b22;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: white;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #0d1117;
}

.home {
  background-color: #0d1117;
  width: 100% !important;
  height: 150% !important;
}

.getting_started {
  white-space: nowrap;
}

.header {
  padding-inline: 1rem;
  max-width: 1136px;
  background-color: #161b22;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 4px 40px #0c1016;
  display: grid;
  place-items: center;
  grid-template-columns: 40px auto 105px 50px 69px 120px;
}

.header-img {
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
}

.header-links {
  color: white;
}

.devider {
  width: 1px;
  height: 60%;
  background-color: #21262d;
}

.btn {
  border-radius: 0.313rem;
  font-weight: 600;
  background-color: #b180ff;
  border-color: #b180ff;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

.material-icons-outlined {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

button,
a {
  font-family: inherit;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  padding: 150px 2rem;
  margin-inline: auto;
  flex-direction: row;
  display: flex;
  position: relative;
}

.scroll-to {
  float: left;
  text-align: left;
  margin-left: 180px;
  max-width: 1020px;
  width: 1020px;
  padding-inline: 50px;
}

.sidenav {
  position: fixed;
  float: left;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.title {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.2px;
  padding: 4px;
  padding-inline: 8px;
  border-radius: 5px;
  width: 180px;
  margin-top: 5px;
}

.title:hover {
  background-color: #2c3035;
}

.title::after {
  font-family: "Material Icons";
  content: "chevron_right";
  float: right;
  font-weight: 400;
  rotate: 90deg;
  transition: 0.2s;
}

.title.active_colab::after {
  rotate: 0deg;
}

li {
  list-style: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Inter;
  line-height: 32px;
  color: #cbd5e1;
  position: relative;
  margin-top: 6px;
  width: 180px;
  height: 32px;
  padding-left: 10px;
}

li:hover:not(.selected) {
  background-color: #2c3035;
  border-radius: 5px;
  border-color: #2c3035;
}

ul {
  margin-bottom: 1rem;
}

li > a {
  color: #cbd5e1;
}

li.active {
  background-color: #2b2733a2;
  border-radius: 5px;
  border-color: #2b2733a2;
  color: #b180ff;
  font-weight: 600;
}

li.active > a {
  color: #b180ff;
  font-weight: 600;
}
