.quote {
  margin: 30px;
  margin-inline: 0;
}

.before-button {
  font-size: 20px;
  padding-top: 30px;
}

.bottom-nav {
  display: block !important;
}

.next-button {
  float: left !important;
  margin-left: 0 !important;
  max-width: 890px;
  width: 100% !important;
  margin-bottom: 20px;
}
